name: Build and deploy Backend to Azure Web App - backendserviceapp

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Install dependencies
        run: |
          cd backend-nodejs
          npm install

      # Optional (only if you have build step like TypeScript)
      - name: Build backend (if exists)
        run: |
          cd backend-nodejs
          npm run build --if-present

      - name: Upload backend artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-build
          path: backend-nodejs
          if-no-files-found: error

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download backend artifact
        uses: actions/download-artifact@v4
        with:
          name: backend-build

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_9B0275CB8BB9468DADBF459AD0774AFD }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_991E50599D234574817168248364F298 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_B2AB8AB559C649A38FC4CDE1BACE2B11 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'backendserviceapp'
          slot-name: 'Production'
          package: .
